*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding-block: 2rem;
  font-family: sans-serif;
  width: min(90%, 35rem);
  margin-inline: auto;
}

input {
  display: block;
  margin: auto;
}

button {
  border: none;
  outline: none;
}
